<footer class="footer">
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="footer-site-logo">
                    <a href="#home-seguro"
                        >Quero fazer meu seguro.</a
                    >
                </div>

                <p class="site-copyright">
                    <small
                        >Copyright ©
                        <script>
                            document.write(
                                new Date().getFullYear()
                            );
                        </script>
                        <a
                            href="https://www.psiu.dev/"
                            target="_blank"
                            rel="nofollow noopener"
                        >
                            • PSIU DEV
                            <!-- <img src="favicon.png" height="18px" alt="Image"> -->
                        </a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- footer word_press -->
<!-- end footer word_press -->
</div>
</div>

<!-- Loader -->
<div id="overlayer" style="display: none"></div>
<div class="site-loader-wrap"
     style="visibility: hidden;opacity: 0;margin-top: 50px;display: none;
">
    <div class="site-loader"></div>
</div>
<script src="<%URLPADRAO%>static/js/main.js"></script>
<script src="<%URLPADRAO%>static/js/owl-carousel.js"></script>
</body>
</html>
